# Netscape HTTP Cookie File
# Copy this file to secrets/douyin-cookies.txt and paste exported Douyin cookies.
# Export from browser while logged in at https://www.douyin.com
# Do not commit secrets/douyin-cookies.txt
